<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<!-- 分页 -->
<link rel="stylesheet" href="__PUBLIC__/javascript/page/css/reset.css" />
<link rel="stylesheet" href="__PUBLIC__/javascript/page/css/pagination.css" />
<link rel="stylesheet" href="__PUBLIC__/javascript/page/css/page.css" />
<!-- <script type="text/javascript" src="__JS__/lib/jquery.min.js"></script> -->
<script type="text/javascript" src="__JS__/jquery-3.0.0.js"></script>
<script type="text/javascript" src="__PUBLIC__/javascript/page/js/jquery.pagination.js"></script>
</head>
<body>
	<center>
		<h1></h1>
		<!-- <div><img src="{:captcha_src()}" alt="captcha" /></div> -->
		<table border="1" cellspacing="0" cellpadding="0">
				<tr>
					<td>ID</td>
					<td>用户名</td>
					<td>邮编</td>
					<td>操作</td>
				</tr>
				{foreach name="data" item="v"}
				<tr>
					<td>{$v.id}</td>
					<td>{if condition="($v.name == '秦林慧')"}你好{else}{$v.name}{/if}</td>
					<td>{$v.password}</td>
					<td>
						<a href="delete?id={$v.id}">删除</a>
						<a href="javascript:;" class="getUdate">编辑</a>
					</td>
				</tr>
				{/foreach}
			</table>
			<div class="list-page">{$page}</div>
	</center>
</body>
<script>
$(function(){
	$(document).ready(function() {
		var page = $page;
		alert(page);
		$("#Pagination").pagination(page); 	
	});
})
</script>
</html>
