<!DOCTYPE html>
<html lang="en">
<head>
<base href="__PUBLIC__/">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="javascript/skin/css/content.css" type="text/css" />
</head>
<body>
	<div class="content">
		<div class="GetNav">
			<p style="height:24px;">&nbsp;菜单添加&nbsp;</p>
		</div>
		<form action="{:url('MenuAdd')}" method="post">
			<table width='98%'  border='0' cellpadding='1' cellspacing='1' align="center" class="tabody">
				<tr>
					<td>默认顶级</td>
					<td>
						<select name="pid" id="">
							<option value="0">默认顶级</option>
							{foreach name="MenuData" item="v"}
								<option value="{$v.id}">
									{if $v.pid eq 0}<span class="folder-open"></span>{else}<span style="display:inline-block;width:{$v.leftpin}px;"></span><span>|--</span>{/if}{$v.title}
								</option>
							{/foreach}
						</select></td>
				</tr>
				<tr>
					<td>菜单名称</td>
					<td>
						<input type="text" name="title" placeholder="菜单名称">
					</td>
				</tr>
				<tr>
					<td>节点</td>
					<td>
						<input type="text" name="name" value="" placeholder="模块/控制器/方法"><br>
						<span style="color:#aaa;">如：admin/user/addlist(一级节点添加#即可)</span>
					</td>
				</tr>
				<tr>
					<td>排序</td>
					<td>
						<input type="text" name="sort" value="0" placeholder="">
					</td>
				</tr>
				<tr>
					<td>是否启用</td>
					<td>
						<input type="radio" name="status" value="1">是
						<input type="radio" name="status" value="0">否
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input class="getSubmit" type="submit" value="提交">
						<input type="reset" class="getReset" value="重置"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>